<%= layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">
                <%= message %>
            </h4>

            <% if (err && err.stack) { %>
                <pre><%= err.stack %></pre>
                <% } %>
        </div>
    </div>